@keyframes aaa {
    0% {
        /*     border: 5px solid red; */
        opacity: .1;
    }
    40% {
        /*     border: 3px solid #000; */
        opacity: .1;
    }
}

@keyframes bbb {
    0% {
        color: aqua;
        /* font-size: large; */
        opacity: .1;
        transform: translate(3rem);
    }
    70% {
        /*     border: 3px solid #000; */
        color: rgb(92, 156, 230);
        transform: rotateY(30deg);
    }
}

@keyframes ccc {
    50% {
        transform: translateY(-1rem);
    }
    70% {}
}