.slide {
    width: 48rem;
    max-height: 28.8rem;
    transition: 5s;
    /*   border: 0.3rem solid darkblue; */
}

.img {
    width: 100%;
}

#r1:checked~.q,
#r2:checked~.w,
#r3:checked~.e,
#r4:checked~.r,
#r5:checked~.t {
    animation-name: aaa;
    animation-duration: 2.5s;
    transition: 1s;
}

#r1:checked~.slide {
    transform: translate(0rem);
    transition: 1s;
}

#r2:checked~.slide {
    transform: translate(-48rem);
    transition: 1s;
}

#r3:checked~.slide {
    transform: translate(-96rem);
    transition: 1s;
}

#r4:checked~.slide {
    transform: translate(-144rem);
    transition: 1s;
}

#r5:checked~.slide {
    transform: translate(-192rem);
    transition: 1s;
}

#r1:checked~.slide>.p1,
#r2:checked~.slide>.p2,
#r3:checked~.slide>.p3,
#r4:checked~.slide>.p4,
#r5:checked~.slide>.p5 {
    animation-name: bbb;
    animation-duration: 2s;
    transition: 1s;
}

#r1:checked~.slide>.p>.smile1,
#r2:checked~.slide>.p>.smile2,
#r3:checked~.slide>.p>.smile3,
#r4:checked~.slide>.p>.smile4,
#r5:checked~.slide>.p>.smile5 {
    animation-name: ccc;
    animation-duration: 3.5s;
    transition: 1s;
}